html {
  background: linear-gradient(#7e3003, #ad7202, #d89400, #fded05);
}

body {
  font-family: sans-serif;
}
h1 {
  text-align: center;
  font-size: 50px;
  color: #e0bf00;
  text-shadow: 2px 2px 3px #f35107;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  padding-bottom: 5px;
}
button {
  background-color: #366dad;
  color: #ffffff;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.container {
  padding-top: 8%;
  margin: auto;
  width: 60%;
}
.flex-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.form-group {
  padding-bottom: 10px;
}
.create-burger {
  text-align: center;
}
#burgerImg {
  display: none;
}

@media only screen and (max-width: 850px) {
  .flex-container {
    justify-content: space-around;
    flex-direction: column;
  }
  .flex-container > div {
    align-self: center;
  }
}
